# System files
.DS_Store
Thumbs.db

# Temporary or backup files
*.tmp
*.bak
*.backup

# Zipped or archive files
*.zip

# Logs (general)
*.log

# GEE local downloads (if any)
*.tif
*.csv
*.json

# Python cache or virtual environments (if used in future)
__pycache__/
venv/

# Editor settings (VSCode or others)
.vscode/
